.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #242426;
    border-radius: 10px;
}
.light {
    background: #FFFFFF;
    border: 1px solid #c8c3c3;
}
.lightItemFirst, .lightItem{
    color: black;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    margin: 0;
    transition: 0.3s;
}
.lightItemFirst {
    border-bottom: 1px solid #c8c3c3;
    padding: 17px 0 15px 20px;
    transition: 0.8s;
}
.itemFirst {
    border-bottom: 1px solid rgba(50, 53, 55, 1);
    padding: 17px 0 15px 20px;
    transition: 0.3s;
}
.item,  .itemFirst{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    transition: 0.3s;
}
.item, .lightItem {
    display: flex;
    justify-content: flex-start;
    padding: 15px 0 16px 20px;
    width: 100%;
    transition: 0.3s;
}
.item:hover, .itemFirst:hover {
    color: #917CFF;
}
.lightItemFirst:hover, .lightItem:hover {
    background-color: #7B61FF;
    color: #FFFFFF;
}
.lightItemFirst:hover {
    border-radius: 10px 10px 0 0;
}
.lightItem:hover {
    border-radius: 0 0 10px 10px;
}
.item:active {
    color: #7B61FF;
}
.item:disabled {
    color: #323537;
}
.rotate {
    transform: scale(-1, -1);
}